@model  IEnumerable<AMNHAC.Models.AspNetUser>
@{
    ViewBag.Title = "ThayAvatar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ThayAvatar</h2>


<h2>Information</h2>
@foreach (var item in Model)
{
    <form action="/MyMusicProfile/EditAvatar" method="post">
        <div style="color:black;">
            <hr />
            <dl class="dl-horizontal">

                <dt style="color:white">
                    id Tác Giả
                </dt>

                <dd>
                    <input type="text" id="test" name="test" value="@item.Id" disabled />
                </dd>
                <dd>
                    <input type="text" id="domain" name="Id" value="@item.Id" style="display:none;" />
                </dd>


                <dt style="color:white">
                    Email
                </dt>

                <dd>
                    <input type="text" id="test2" name="test2" value="@item.Email" disabled />
                </dd>
                <dd>
                    <input type="text" id="domain" name="email" value="@item.Email" style="display:none;" />
                </dd>

                <dt style="color:white">
                    Password
                </dt>

                <dd>
                    <input type="text" id="test3" name="test3" value="@item.PasswordHash" disabled />
                </dd>
                <dd>
                    <input type="text" id="domain" name="password" value="@item.PasswordHash" style="display:none;" />
                </dd>

                <dt style="color:white">
                    Avatar
                </dt>

                <dd>
                    <input type="file" name="fileUpload" id="fileUpload" style="color:white;display:none;" accept="image/*" />
                    <input type="button" id="btnUpload" value="Chọn" class="btn btn-success" />
                    <input type="text" id="hinh" name="hinh" value="@item.Avatar" />
                    <img style="margin-top: 10px; width: 200px; height: 200px;" src="@item.Avatar" id="pictureUpload" />
                    @*<img src="@item.hinhPerson" style="width:200px;height:200px;">*@
                </dd>

                <dt style="color:white">
                    Your Name
                </dt>

                <dd>
                    <input type="text" id="domain" name="name" value="@item.Name" />
                </dd>

            </dl>
        </div>


        <button type="submit" style="color:black;">Save</button>
    </form>

}
<p>

    @Html.ActionLink("Back to List", "Index","MyMusicProfile")
</p>
@section upload
        {
    <script>
        $(function () {
            $('#btnUpload').click(function () {
                $('#fileUpload').trigger('click');
            });
        });
        $('#fileUpload').change(function () {
            if (window.FormData !== undefined) {
                var fileUpload = $('#fileUpload').get(0);
                var files = fileUpload.files;
                var formData = new FormData();
                formData.append('file', files[0]);

                $.ajax(
                    {
                        type: 'POST',
                        url: '/Home/ProcessUpload',
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (urlImage) {

                            $('#pictureUpload').attr('src', urlImage);
                            $('#hinh').attr('value', urlImage);
                        },
                        error: function (err) {
                            alert('Error ', err.statusText);
                        }
                    });
            }
        });
    </script>
}