@model AMNHAC.Models.AspNetUser

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<form action="/User/EditUser" method="post">
    <div style="color:black;">
        <hr />
        <dl class="dl-horizontal">

            <dt style="color:black">
                Id User
            </dt>

            <dd>
                <input type="text" id="test" name="test" value="@Model.Id" disabled />
            </dd>
            <dd>
                <input type="text" id="domain" name="Id" value="@Model.Id" style="display:none;" />
            </dd>


            <dt style="color: black">
                Password
            </dt>

            <dd>
                <input type="password" id="domain" name="name" value="@Model.PasswordHash" />
            </dd>

            <dt style="color: black">
                UserName
            </dt>

            <dd>
                <input type="text" id="domain" name="mota" value="@Model.Name" />
            </dd>

           

        </dl>
    </div>


    <button type="submit" style="color:white;" class="btn btn-success">Save</button>
</form>


<div>
    @Html.ActionLink("Back to List", "Account")
</div>
