@using AMNHAC.Models
@model dynamic
@{
    ViewBag.Title = "IndexDiscover";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/trangchu.css" rel="stylesheet" />

<div class="newsfeed mg-16 pd-12">

    <div class="menu-left">
        @foreach (AspNetUser user in Model.user)
        {

            <div class="status_header">
                <div class="status_avatar pd-8">
                    <img src="@user.Avatar" alt="">
                </div>
                <div class="status_hMid pd-8">
                    <div class="status_name">
                        <nav id="nav" active="">
                            <a href="/MyMusicProfile/Index" style="margin: 12px;" title="Trang Cá Nhân">@user.Name</a>
                        </nav>
                    </div>
                </div>
            </div>

        }
        <div class="status_header" style="margin-top:5%;">
            <div class="status_hMid pd-8">
                <nav id="nav" active="">

                    <a href="/MyMusicProfile/Index" style="margin: 12px;" title="Trang Cá Nhân"> My music profile</a>
                </nav>
            </div>
        </div>
        <div class="status_header" style="margin-top:10%;">
            <div class="status_hMid pd-8">
                <nav id="nav" active="">
                    <a href="/Discover/Test" class="fa fa-upload" title="Up bài của bạn">Upload song</a>

                </nav>
            </div>
        </div>
        <div class="status_header" style="margin-top:15%;">
            <div class="status_hMid pd-8">
                <nav id="nav" active="">
                    <form action="/Discover/SearchBaiViet" method="post">
                        <button type="submit">
                            <span class="icon"><i class="fa fa-search"></i></span>
                        </button>



                        <input type="search" name="Id" id="search" placeholder="Search Any Post.." title="Tìm kiếm" style="color:#000" />

                    </form>

                </nav>
            </div>
        </div>
    </div>




    <div class="status">
        
        @foreach (BaiViet item in Model.baiviet)
        {
            <div class="status-main mt-16">
                <div class="status_header">
                    <div class="status_avatar pd-8">
                        <img src="@item.AspNetUser.Avatar" alt="">
                    </div>
                    <div class="status_hMid pd-8">
                        <div class="status_name">@item.AspNetUser.Name</div>
                        <div class="status_time">
                            @item.newday

                            @if (item.chedo == "CK")
                            {
                                <i class="fa fa-globe" aria-hidden="true">Công Khai</i>
                            }
                            else
                            {
                                <i class="fa fa-globe" aria-hidden="true">Cá Nhân</i>
                            }
                            @using Microsoft.AspNet.Identity
                            @if (Request.IsAuthenticated)
                            {
                                if (User.Identity.GetUserName() == "xincaiten2001@gmail.com")
                                {
                                    <form action="/Discover/DeleteBaiViet" method="post">
                                        <input type="text" id="domain" name="Id" value="@item.idPost" style="display:none;" />
                                        <button type="submit" style="color:black;">Delete</button>
                                    </form>
                                }

                            }
                        </div>
                    </div>
                </div>
                <div class="caption">
                    @item.title
                </div>
                <div class="caption">
                    @item.Mota
                </div>
                @if (item.image == "")
                {

                }
                else
                {
                    <div class="status_img text-center mt-8">
                        <img src="@item.image" alt="">
                    </div>
                }
                @if (item.video == "")
                {

                }
                else
                {
                    <div class="status_img text-center mt-8">
                        <video controls>
                            <source src="@item.video">
                        </video>
                    </div>
                }

                <div class="emo-taskbar mg-16">
                    <div class="like">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true">Thích</i>
                    </div>
                    <div class="comment">
                        <i class="fa fa-comments" aria-hidden="true">Bình luận</i>
                    </div>
                </div>
                <div class="comment-box">
                    @foreach (AspNetUser user in Model.user)
                    {
                        <div class="status_avatar pd-8">
                            <img src="@user.Avatar" alt="">
                        </div>
                    }


                    <div class="comment-text">
                        <input class="pd-12" type="text" placeholder="Đóng góp ý kiến của bạn...">
                    </div>
                </div>
            </div>

        }
    </div>

</div>



